:root{
    --header: #222222;

    --color-container: #f5f5f5;
    --color-container-products: #f0f2f5b0;
    --card: rgb(0,0,0);
    --font-card: #f0eaea;
    --border: rgba(227, 234, 24, 0.897);
    
    --input: #d1d1db;
    --btn-save-background: #1d1c1ceb;
    --btn-clear-backhround: #b9b2b2;
    --btn-color:  #f0eaea;
    --btn-hover: rgba(236, 242, 71, 0.986);

    --footer: #222222;
    --footer-tittle: #f2f2f2;
    --footer-tittle-hover: rgba(227, 234, 24, 0.897);
}